<?xml version="1.0"?>
<robot name="ucf_robosub" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find sub_definition)/urdf/sub_body.urdf.xacro"/>
    <xacro:include filename="$(find sub_definition)/urdf/sub_thruster.urdf.xacro"/>
    <xacro:include filename="$(find sub_definition)/urdf/sub_arm.urdf.xacro"/>
    <xacro:include filename="$(find sub_definition)/urdf/vision_cam.urdf.xacro"/>
    <link name="base_link">
    </link>
    
    <sub_thruster identifier="vertical1" parent="base_link" xPos="0.105" yPos="-0.18" zPos="0.0" roll="1.571" pitch="0.0" yaw="1.571"/>
    <sub_thruster identifier="vertical2" parent="base_link" xPos="0.105" yPos="0.18" zPos="0.0" roll="1.571" pitch="3.141" yaw="1.571"/>
    <sub_thruster identifier="vertical3" parent="base_link" xPos="-0.105" yPos="0.18" zPos="0.0" roll="1.571" pitch="3.141" yaw="1.571"/>
    <sub_thruster identifier="vertical4" parent="base_link" xPos="-0.105" yPos="-0.18" zPos="0.0" roll="1.571" pitch="0.0" yaw="1.571"/>
    <sub_thruster identifier="horizontal1" parent="base_link" xPos="0.22" yPos="-0.18" zPos="0.0" roll="1.571" pitch="0.7855" yaw="3.141"/>
    <sub_thruster identifier="horizontal2" parent="base_link" xPos="0.22" yPos="0.18" zPos="0.0" roll="-1.571" pitch="0.7855" yaw="3.141"/>
    <sub_thruster identifier="horizontal3" parent="base_link" xPos="-0.22" yPos="0.18" zPos="0.0" roll="-1.571" pitch="-0.7855" yaw="0.0"/>
    <sub_thruster identifier="horizontal4" parent="base_link" xPos="-0.22" yPos="-0.18" zPos="0.0" roll="1.571" pitch="-0.7855" yaw="0.0"/>
    <sub_vision_cam identifier="left" parent="base_link" xPos="0.301" yPos="-0.051" zPos="0.0" roll="0.0" pitch="0.0" yaw="0.0"/>
    <sub_vision_cam identifier="right" parent="base_link" xPos="0.301" yPos="0.051" zPos="0.0" roll="0.0" pitch="0.0" yaw="0.0"/>
    
    <link name="ahrs8_imu">
    </link>
    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
	<child link="ahrs8_imu"/>
	<origin xyz="0.0 0.066 0.0" rpy="3.141 0.0 3.141"/>
    </joint>
    
    <link name="depth">
    </link>
    <joint name="depth_joint" type="fixed">
        <parent link="base_link"/>
        <child link="depth"/>
        <origin xyz="-0.3 -0.2 0.0" rpy="0.0 0.0 0.0"/>
    </joint>
</robot>
